#adminlogin {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: #000000;
  }

  .login-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  /* Left side image */
  .login-image {
    flex: 1;
    height: 100%;
  }

  .login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  /* Right side login */
  .login-box {
    flex: 1;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    /* background-color: #5f5656; */
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  }

   .heading{
     display: flex;
     justify-content: space-between;
      align-items: center;
      h2{
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;
      }
   }
   .login-back-link{
    display: flex;
    align-items: center;
    justify-content: end; 
   }
  .login-title {
    font-size: 1.75rem;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* max-width: 500px; */
  }

  .input-field {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    background-color: #fff;
    color: #000;
    width: 100%;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
  }
  .password-wrapper{
    position: relative;
    .toggle-icon{
      color: #000;
      position: absolute;
      top: 20%;
      right: 10px;
      z-index: 9999;
    }
  }

  .input-field:focus {
    border-color: #4b5563;
    box-shadow: 0 0 0 2px #4b5563;
  }

  .error-message {
    color: #ef4444;
    text-align: center;
    font-size: 0.9rem;
  }

  .login-button {
    background: linear-gradient(to right, #000000, #000000);
    color: #fff;
    border: 1px solid gray;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    /* border: none; */
  }

  .login-button:active {
    transform: scale(0.95);
  }

  /* Responsive */
  @media (max-width: 768px) {
    .login-content {
      flex-direction: column;
    }

    .login-image {
      height: 40vh;
    }

    .login-box {
      height: 60vh;
      box-shadow: none;
    }
  }
}
