#contactresponse{
.contactus-container {
    padding: 70px 10px;
  }
  
  .contactus-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #eee7e7;
  }
  
  .contactus-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

     .add-limit-button{
      background-color: #2563eb;
      color: #ffffff;
      padding: 5px 8px;
      border: none;
      border-radius: 0.375rem;
      cursor: pointer;
      /* font-weight: 600; */
    }
  }
  
  .contactus-table th,
  .contactus-table td {
    border: 1px solid #ddd;
    padding: 12px 16px;
    text-align: left;
  }
  
  
  .contactus-table tr:hover {
    background-color: #171718;
  }
  
  .no-response {
    text-align: center !important;
    padding: 1rem;
    color: #555;
  }

  .user__container{
    overflow-x: scroll;
    scrollbar-width: none;
  }
  
}