.contact-container {
     background-color: rgba(14, 14, 15, 0.8);

    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    padding: 50px 10px;

  }
  
  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .contact-form {
    max-width: 600px;
    width: 100%;
    background: #080808;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  
  .form-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
  }

  .mail{
    /* background-color: red; */
    border-bottom: 1px solid gray;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;

    .fa-envelope{
      color: red;
    }
     a{
      font-size: 18px;
     }
  }
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .two-columns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    resize: none;
  }
  
  .submit-button {
    background-color: #000;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #1b1a1a;
  }
  
  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog-box {
    background: #020202;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.253);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
  }
  
  .dialog-box h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .dialog-box button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    /* background: #020202; */
    border: 1px solid #ccc;
    color: rgb(255, 255, 255);
    /* border: none; */
    border-radius: 6px;
    cursor: pointer;
  }
  
  .contact-info {
    background-image: url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
     width: 50%;
     height: 75vh;
     position: relative;

    
  }
  .contact-info::after{
    content: "";
    display: block;
    position: absolute;
        border-radius: 10px;
    top: 0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .form-section,
    .contact-info {
      width: 100%;
    }
  
    .contact-info {
      margin-top: 20px;
    }
    
  }