.contact-container {
    background-color: rgba(14, 14, 15, 0.8);
    /* max-width: 1500px; */
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 50px 10px;

    

  }
  
  .form-section {
    width: 50%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    overflow: hidden;

    .infoDetails{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 100%;
      padding: 2rem;

      .gmail{
        border: 1px solid gray;
        background: #000000;
        background: linear-gradient(150deg, rgba(0, 0, 0, 1) 50%, rgba(11, 75, 179, 1) 100%);
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 50%;
        padding: 10px;
        border-radius: 10px;

         a{
          font-size: 18px;
         }
      }
      .number{
        border: 1px solid gray;
        background: #000000;
        background: linear-gradient(150deg, rgba(0, 0, 0, 1) 50%, rgba(11, 75, 179, 1) 100%);
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 50%;
        padding: 10px;
        border-radius: 10px;
      
         a{
          font-size: 18px;
         }
      }
    }
  }
  
  .contact-form {
    margin: auto;
    width: 100%;
    background: #000000;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  
  .form_title h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .form_title p{
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: gray;
  }

  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .two-columns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    resize: none;
  }
  
  .submit-button {
     background: #0624bd;
    background: radial-gradient(circle, rgba(6, 36, 189, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 6px;
    font-weight: bold;
     width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  
  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog-box {
    background: #020202;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.253);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
  }
  
  .dialog-box h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .dialog-box button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* .contact-info {
    background-image: url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
     width: 50%;
     height: 75vh;
     position: relative;

    
  }
  .contact-info::after{
    content: "";
    display: block;
    position: absolute;
        border-radius: 10px;
    top: 0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  } */
  
  @media screen and (max-width: 768px) {
    .contact-container {
      /* flex-direction: column; */
      padding: 20px;
    }
  
    .form-section {
      width: 100%;
    }
     .contact-form{

      padding: 10px;
     }
  
    .infoDetails{
      flex-direction: column;
      gap: 5px !important;
      height: auto;
      padding: 10px !important;
      /* background-color: aqua; */

      .gmail , .number{
        min-width: 100% !important;
      }
    }
    
  }