#createhr{
.hr-container {
    display: flex;
    flex-direction: column;
    padding: 70px 10px;
  }
  
  .hr-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .hr-form-wrapper {
    background-color: #080808;
    color: white;
    box-shadow: -2px 0 5px rgba(17, 17, 17, 0.4);
    transition: right 0.5s ease-in-out;
    padding: 1rem;
    border-radius: 50px;
  }
  
  .hr-form {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    .hr-form{
      flex-direction: column;
    }
    .hr-button {
    width: 100% !important;
    }
    .hr-title {
        font-size: 16px;
    }
    .hr-table-container{
      overflow-x: scroll;
      scrollbar-width: thin !important;
   }
  }
  
  
  .hr-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
  }
  
  .hr-button {
    width: 500px;
    border: 1px solid #ddd;
    color: white;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .hr-button:hover {
    background-color: #333;
  }
  
  .hr-message {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .hr-table-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    color: white;
  }
  .hr-table-container{
     overflow-x: scroll;
     scrollbar-width: none;

  }
  .hr-table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    /* color: black; */
    /* background-color: white; */
  }
  
  .hr-table th,
  .hr-table td {
    border: 1px solid #7e7a7a;
    padding: 0.75rem;
    /* text-align: left; */
  }
  
  .hr-table th {
    border: 1px solid #7e7a7a;
    text-align: center;
    color: white;
  }
  
  /* .hr-table tr:nth-child(even) {
    background-color: #080808;
  } */
  
  .hr-table tr:hover {
    background-color: #1f1d1d;
    color: rgb(255, 255, 255);
  }
  
  .no-hr {
    text-align: center;
    padding: 1rem;
  }
  
}