#hr__profile {
    padding: 80px 10px;
      background-color: rgba(14, 14, 15, 0.8);
      min-height: 100vh;
  .counter__container {
    .jobposted__count {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      /* padding: 0.5rem; */

      .No__boxes {
        width: 350px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        border: 1px solid rgba(128, 128, 128, 0.281);
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
        
        .box{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          span{
            font-size: 20px;
          }
          h2{
            font-size: 22px;
          }
        }
        strong{
          font-size: 18px;
        }
        
      }
    }
  }
}
 