#hr__profile {
    padding: 80px 10px;
    
  .counter__container {
 

    .jobposted__count {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      /* padding: 0.5rem; */

      .No__boxes {
        width: 500px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(128, 128, 128, 0.281);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);

        > div {
          font-size: 2rem;
          i {
            font-size: 1.5rem;
          }
        }
        h2 {
          font-size: 2rem;
        }
      }
    }
  }
}
