

#studentsignup{
  background-color: rgba(14, 14, 15, 0.8);
.signup-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .signup-container {
    flex-direction: row;
  }
}

/* Form Side */
.signup-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
}

@media (min-width: 768px) {
  .signup-form-wrapper {
    width: 50%;
  }
}

.signup-form-container {
  width: 100%;
  max-width: 400px;
  background: #080808;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0 10px 25px rgba(56, 56, 56, 0.5);
}

.signup-title {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;
}

.signup-subtitle {
  text-align: center;
  color: #d1d5db;
  padding-bottom: 20px;
}

.signup-back-link {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  text-decoration: none;
}

/* Input Fields */
.signup-input-wrapper {
  position: relative;

  span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    color: #9ca3af;
    transition: all 0.2s ease;
  }
}

.signup-input {
  height: 2.5rem;
  width: 100%;
  border-bottom: 2px solid #d1d5db;
  background: transparent;
  color: white;
  outline: none;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
}

.signup-label {
  position: absolute;
  left: 0;
  top: -0.875rem;
  font-size: 0.875rem;
  color: #9ca3af;
  transition: all 0.2s ease;

}

/* Button */
.signup-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, #000000, #00000059);
  border-radius: 0.375rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
  box-shadow: 0 10px 25px rgba(56, 56, 56, 0.5);
}

/* Footer */
.signup-footer {
  text-align: center;
  color: #d1d5db;
  padding-top: 10px;
}

.signup-login-link {
  margin-left: 0.5rem;
  color: #d1d5db;
  text-decoration: none;
 
}

.signup-login-link:hover {
  text-decoration: none;
}

/* Image Side */
.signup-image-side {
  display: none;
  background-image: url('https://img.freepik.com/free-photo/sign-up-register-online-internet-web-concept_53876-133557.jpg?t=st=1745051490~exp=1745055090~hmac=72243f03e2275b59b4f3b6ab18fd62fffd4267c203cc1e134548967b6046626b&w=740');
  background-size: cover;
  background-position: center;
  width: 50%;
}

@media (min-width: 768px) {
  .signup-image-side {
    display: flex;
  }
}

}
