#userdashboard {
  padding: 70px 10px;
  height: calc(100dvh - 0px);

  .user__container {
    display: flex;
    gap: 5px;

    .table__container {
      height: calc(100dvh - 80px);
      min-width: 25%;
      background-color: #ffffff;
      color: black;
      border-radius: 5px;
      overflow: hidden;

      h2 {
        text-align: center;
        font-size: 20px;
      }

      .joblist {
        height: 100%;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        .latestjobcard {
          width: 100%;
          /* background-color: rgb(231, 231, 231); */
          background-color: #f9f9f9;
          color: black;
          padding: 16px;
          border-radius: 10px;

          .companyName {
            display: flex;
            justify-content: space-between;

            h3 {
              font-size: 16px;
            }
          }
          .redirecttojob {
            background-color: rgb(3, 3, 3);
            color: white;
            text-align: center;
            margin-top: 5px;
            border-radius: 8px;
            font-size: 20px;
            cursor: pointer;
            i {
              margin-left: 4px;
              font-size: 18px;
            }
          }
        }
      }
    }
    .side__table {
      height: calc(100dvh - 80px);
      width: 100%;
      background-color: #ffffff;
      border-radius: 5px;
      overflow-y: scroll;
      scrollbar-width: none;
      h2 {
        font-size: 20px;
        color: black;
        text-align: center;
      }
      .card__containers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 8px;
       
         .resume{
         grid-column: 1 / span 3;
        }
       
      }
      .counter__card {
        background-color: #f9f9f9;
        color: black;
        height: 200px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          i {
            font-size: 30px;
          }
          h2 {
            font-size: 20px;
          }
        }
        .count {
          font-size: 25px;
        }

        .updatebtn{
          background-color: #4CAF50;
          color: white;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .calendar__container {
        padding: 8px;
        border-radius: 10px;
        text-align: center;

        .react-calendar {
          border: none;
          width: 100%;
          font-size: 16px;
          background-color: #f9f9f9;
          color: black;
          border-radius: 10px;
          padding: 10px;
        }

        .react-calendar__tile--active {
          background: #007bff !important;
          color: white !important;
          border-radius: 8px;
        }

        .react-calendar__tile--now {
          background: #ffedcc;
          border-radius: 8px;
        }

        .react-calendar__tile:hover {
          background: #e6f0ff;
          border-radius: 8px;
        }
      }
    }
  }

  @media (max-width:680px) {
     .user__container{
      width: 100%;
      margin: 0 auto;
      flex-direction: column;

        .table__container{
          width: 100%;
          order: 2;
     }

     }
  }
}
